<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Recusro para o usuário e cadastrar no site, assim que o usuário entrar, o site vai fornecer as ferramentas para sua disposição." />
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio." />
    <%- include('../templates/head.ejs') %>
    <%- data.userType === "admin" ? include('../templates/head-admin.ejs') : "" %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/perfil/configurar-meta.css" />

    <!-- JS -->
    <script src="/js/perfil/configurar-meta.js" defer></script>

    <title><%- data.page_name %></title>
</head>

<body>
    <%- data.userType === "admin" ? include('../templates/header-admin.ejs') : include('../templates/header-perfil.ejs') %>

    <main>
        <section id="configurar-meta-intro">
            <h1>Criar meta</h1>

            <form action="/criar-meta" method="post" id="configurar-meta-form">
                <%- data.errors && data.errors.sistema_error ? `<span class="error-message">${data.errors.sistema_error.msg}</span>` : "" %>

                <label for="nome-meta">Defina o nome da sua meta</label>
                <input type="text" name="nome_meta" id="nome-meta" placeholder="Nome da sua meta" data-input-meta="nome-meta" <%- data.input_values ? `value="${data.input_values.nome_meta}"` : "" %> <%- data.errors && data.errors.nome_meta_error ? `class="error"` : "" %> />

                <%- data.errors && data.errors.nome_meta_error ? `<span class='error-message'>${data.errors.nome_meta_error.msg}</span>` : "" %>

                <label for="valor-meta">Defina o valor da sua meta</label>
                <div class="input-container <%- data.errors && data.errors.valor_meta_error ? `error` : "" %>">
                    <span>R$</span>

                    <input type="number" name="valor_meta" id="valor-meta" placeholder="00,00" step="0.01" min="0" data-input-meta="valor-meta" <%- data.input_values ? `value="${data.input_values.valor_meta}"` : "" %> />
                </div>

                <%- data.errors && data.errors.valor_meta_error ? `<span class='error-message'>${data.errors.valor_meta_error.msg}</span>` : "" %>

                <label for="valor-destinado">Defina o valor destinado a sua meta</label>
                <div class="input-container <%- data.errors && data.errors.valor_destinado_error ? `error` : "" %>">
                    <span>R$</span>

                    <input type="number" name="valor_destinado" id="valor-destinado" placeholder="00,00" step="0.01" min="0" data-input-meta="valor-destinado" <%- data.input_values ? `value="${data.input_values.valor_destinado}"` : "" %> />
                </div>

                <%- data.errors && data.errors.valor_destinado_error ? `<span class='error-message'>${data.errors.valor_destinado_error.msg}</span>` : "" %>

                <label>Defina o quando essa meta irá receber dinheiro</label>
                <button type="button" data-periodo-deposito-dropdown-button <%- data.errors && data.errors.periodo_deposito_error ? `class="error"` : "" %>>
                    <span data-periodo-deposito-selected><%- data.input_values && data.input_values.periodo_deposito ? data.input_values.periodo_deposito : "Escolha o período" %></span>

                    <img src="/assets/icons/arrow-down-blue.png" alt="Seta para baixo" />

                    <div id="periodo-deposito-dropdown-container">
                        <div id="periodo-deposito-dropdown">
                            <label for="periodo-deposito-diariamente" <%- data.input_values && data.input_values.periodo_deposito === "Diariamente" ? "class='ativo'"  : "" %>>
                                <input type="radio" name="periodo_deposito" id="periodo-deposito-diariamente" value="Diariamente" data-periodo-deposito-input <%- data.input_values && data.input_values.periodo_deposito === "Diariamente" ? "checked"  : "" %> />
                                Diariamente
                            </label>

                            <label for="periodo-deposito-semanalmente" <%- data.input_values && data.input_values.periodo_deposito === "Semanalmente" ? "class='ativo'"  : "" %>>
                                <input type="radio" name="periodo_deposito" id="periodo-deposito-semanalmente" value="Semanalmente" data-periodo-deposito-input <%- data.input_values && data.input_values.periodo_deposito === "Semanalmente" ? "checked"  : "" %> />
                                Semanalmente
                            </label>

                            <label for="periodo-deposito-quinzenalmente" <%- data.input_values && data.input_values.periodo_deposito === "Quinzenalmente" ? "class='ativo'"  : "" %>>
                                <input type="radio" name="periodo_deposito" id="periodo-deposito-quinzenalmente" value="Quinzenalmente" data-periodo-deposito-input <%- data.input_values && data.input_values.periodo_deposito === "Quinzenalmente" ? "checked"  : "" %> />
                                Quinzenalmente
                            </label>

                            <label for="periodo-deposito-mensalmente" <%- data.input_values && data.input_values.periodo_deposito === "Mensalmente" ? "class='ativo'"  : "" %>>
                                <input type="radio" name="periodo_deposito" id="periodo-deposito-mensalmente" value="Mensalmente" data-periodo-deposito-input <%- data.input_values && data.input_values.periodo_deposito === "Mensalmente" ? "checked"  : "" %> />
                                Mensalmente
                            </label>
                        </div>
                    </div>
                </button>

                <%- data.errors && data.errors.periodo_deposito_error ? `<span class='error-message'>${data.errors.periodo_deposito_error.msg}</span>` : "" %>

                <p>Para atingir a meta: <b data-input-meta-preview="nome-meta"><%- data.input_values && data.input_values.nome_meta ? data.input_values.nome_meta : "------------" %></b> de valor R$ <b data-input-meta-preview="valor-meta"><%- data.input_values && data.input_values.valor_meta ? data.input_values.valor_meta : "------------" %></b>, destinando R$ <b data-input-meta-preview="valor-destinado"><%- data.input_values && data.input_values.valor_destinado ? data.input_values.valor_destinado : "------------" %></b>, levará cerca de <b data-input-meta-preview="periodo-deposito"><%- data.preview_values && data.preview_values.data_alcancar_meta ? data.preview_values.data_alcancar_meta : "------------" %></b>!</p>

                <button type="submit">Criar meta</button>
            </form>
        </section>
    </main>

    <!-- ? Talvez adicionar "bolinhas" de pergunta do lado dos campos, para maiores explicações -->

    <%- include('../templates/footer.ejs') %>
</body>

</html>