<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recurso para o usuário se cadastrar no site, assim que o usuário entrar, o site vai fornecer as ferramentas à sua disposição.">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/info-pages/editar.css">

    <!-- JS -->
    <script src="/js/info-pages/autenticacao.js" defer></script>

    <title><%- data.page_name %></title>
</head>

<body>
    <%- include('../templates/header.ejs') %>

    <main>
        <section id="autenticacao-intro">

            <h1>Editar perfil</h1>

            <form action="/cadastro" method="post" id="autenticacao-form">
                <%- data.errors && data.errors.sistema_error ? `<span class='error-message'>${data.errors.sistema_error.msg}</span>` : "" %>

                <label for="nome">Nome do usuário</label>
                <input type="text" placeholder="Nome do usuário" id="nome" name="nome" <%- data.input_values ? `value="${data.input_values.nome}"` : "" %> <%- data.errors && data.errors.nome_error ? `class="error"` : "" %>>

                <%- data.errors && data.errors.nome_error ? `<span class='error-message'>${data.errors.nome_error.msg}</span>` : "" %>

                <label for="email">E-mail</label>
                <input type="email" placeholder="E-mail" id="email" name="email" <%- data.input_values ? `value="${data.input_values.email}"` : "" %> <%- data.errors && data.errors.email_error ? `class="error"` : "" %>>

                <%- data.errors && data.errors.email_error ? `<span class='error-message'>${data.errors.email_error.msg}</span>` : "" %>

                <label for="data-nascimento">Data de nascimento</label>
                <input type="text" placeholder="DD/MM/AAAA" id="data-nascimento" name="data_nascimento" <%- data.input_values ? `value="${data.input_values.data_nascimento}"` : "" %> <%- data.errors && data.errors.data_nascimento_error ? `class="error"` : "" %>>

                <%- data.errors && data.errors.data_nascimento_error ? `<span class='error-message'>${data.errors.data_nascimento_error.msg}</span>` : "" %>

            </form>

        </section>
        
    </main>

    <%- include('../templates/footer.ejs') %>
</body>

</html>