<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/info-pages/fale-conosco.css">

    <!-- JS -->
    <script src="/js/info-pages/fale-conosco.js" defer></script>

    <title><%- data.page_name %></title>
</head>
<body>
    <% if (data.user_logged) { %>
        <%- include('../templates/header-perfil.ejs') %>
    <% } else { %>
        <%- include('../templates/header.ejs') %>
    <% } %>

    <main>
        <section id="fale-conosco-intro">
            <% if (data.email_sended) { %>
                <h1 id="titulo-mensagem">Email enviado!</h1>
                <p id="conteudo-mensagem">Agradecemos o contato</p>
            <% } else { %>
                <h1>Fale Conosco</h1>

                <form action="/fale-conosco" method="post" id="fale-conosco-form">
                    <%- data.errors && data.errors.sistema_error ? `<span class='error-message'>${data.errors.sistema_error.msg}</span>` : "" %>

                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="E-mail"
                    <%- data.userEmail ? `value="${data.userEmail}"` : "" %>
                    <%- data.input_values ? `value="${data.input_values.email}"` : "" %>
                    <%- data.errors && data.errors.email_error ? `class="error"` : "" %>
                    >

                    <%- data.errors && data.errors.email_error ? `<span class='error-message'>${data.errors.email_error.msg}</span>` : "" %>

                    <label for="duvidas">Dúvidas</label>
                    <textarea name="duvida" id="duvidas" rows="12" maxlength="500" data-duvidas-input
                    <%- data.errors && data.errors.duvida_error ? `class="error"` : "" %>
                    ><%- data.input_values ? data.input_values.duvida : "" %></textarea>

                    <%- data.errors && data.errors.duvida_error ? `<span class='error-message'>${data.errors.duvida_error.msg}</span>` : "" %>

                    <div id="limite-caracteres" data-character-limit>
                        <span data-actual-character-number>0</span> de 500 caracteres
                    </div>

                    <button type="submit">Enviar</button>
                </form>
            <% } %>
        </section>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>