<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recusro para o usu치rio se cadastrar no site, assim que o usu치rio entrar, o site vai fornecer as ferramentas para sua disposi칞칚o.">
    <meta name="keywords" content="finan칞as, gest칚o financeira, ferramentas financeiras, aux칤lio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/info-pages/nao-encontrado.css">

    <title><%- data.page_name %></title>
</head>
<body>
    <% if (data.user_logged) { %>
        <%- include('../templates/header-perfil.ejs') %>
    <% } else { %>
        <%- include('../templates/header.ejs') %>
    <% } %>

    <main>
        <section id="nao-encontrado-intro">
            <h1>P치gina n칚o encontrada...</h1>
            <p>Lamento, n칚o encontramos o que voc칡 est치 procurando!</p>
            <span>游땩</span>
        </section>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>