<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="O site disponibilizará pacotes para os usuários, tendo opções de escolha para o que preferir.">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/info-pages/pacotes.css">

    <!-- SCRIPT -->
    <script src="https://js.stripe.com/v3/"></script>

    <title><%- data.page_name %></title>
</head>
<body>
    <% if (data.user_logged) { %>
        <%- include('../templates/header-perfil.ejs') %>
    <% } else { %>
        <%- include('../templates/header.ejs') %>
    <% } %>

    <main>
        <section id="pacotes-intro">
            <h1>Vantagens de assinar o Finyou+</h1>

            <div>
                <picture>
                    <source srcset="assets/images/webp/barraca-limao.webp" type="image/webp">
                    <img src="/assets/images/barraca-limao.jpg" alt="Menina vendendo suco de limão" width="400" height="349">
                </picture>

                <p>Organize facilmente suas rendas.</p>
            </div>

            <div>
                <picture>
                    <source srcset="assets/images/webp/estudando-financas.webp" type="image/webp">
                    <img src="/assets/images/estudando-financas.jpg" alt="Estudando finanças" width="400" height="317">
                </picture>

                <p>Gráficos e textos com poucos termos técnicos.</p>
            </div>

            <div>
                <picture>
                    <source srcset="assets/images/webp/crianca-comprando.webp" type="image/webp">
                    <img src="/assets/images/crianca-comprando.jpg" alt="Criança comprando ursinho" width="1080" height="249">
                </picture>

                <p>Sonhe, planeje e conquiste!</p>
            </div>
        </section>

        <section id="main-topics">
            <ul>
                <li>
                    <img src="/assets/icons/check.png" alt="Sinal de confere" width="36" height="36">
                    Com a assinatura você se organiza segundo suas especificidades;
                </li>

                <li>
                    <img src="/assets/icons/check.png" alt="Sinal de confere" width="36" height="36">
                    Com a assinatura você visualiza melhor a sua evolução;
                </li>

                <li>
                    <img src="/assets/icons/check.png" alt="Sinal de confere" width="36" height="36">
                    Com a assinatura o céu é o limite para suas metas.
                </li>
            </ul>
        </section>

        <section id="pacotes">
            <h2>Conheça os pacotes Finyou+</h2>

            <p>Com o Finyou+, você conseguirá ter mais opções em auxiliar o seu dinheiro.</p>

            <div id="pacotes-cards">
                <div>
                    <p>Por 1 mês a partir de</p>
                    <h3>R$ 12,90 </h3>

                    <ul>
                        <li>
                            <img src="/assets/icons/check-small.png" alt="Sinal de confere" width="24" height="24">
                            Cadastre 10 metas;
                        </li>

                        <li>
                            <img src="/assets/icons/check-small.png" alt="Sinal de confere" width="24" height="24">
                            Crie tags personalizadas;
                        </li>

                        <li>
                            <img src="/assets/icons/check-small.png" alt="Sinal de confere" width="24" height="24">
                            Receba relatórios mensais e anuais detalhados;
                        </li>

                        <li>
                            <img src="/assets/icons/check-small.png" alt="Sinal de confere" width="24" height="24">
                            Crie uma conta com até 5 pessoas.
                        </li>
                    </ul>

                    <a href="/pagamento-assinatura">Assinar plano</a>

                    <span>Primeiro mês gratuito!</span>
                </div>

                <div>
                    <p>Plano anual</p>
                    <h3>R$ 82,90 </h3>

                    <ul>
                        <li>
                            <img src="/assets/icons/check-small.png" alt="Sinal de confere" width="24" height="24">
                            Cadastre 15 metas;
                        </li>

                        <li>
                            <img src="/assets/icons/check-small.png" alt="Sinal de confere" width="24" height="24">
                            Crie tags personalizadas;
                        </li>

                        <li>
                            <img src="/assets/icons/check-small.png" alt="Sinal de confere" width="24" height="24">
                            Receba relatórios mensais e anuais detalhados;
                        </li>

                        <li>
                            <img src="/assets/icons/check-small.png" alt="Sinal de confere" width="24" height="24">
                            Gráfico geral do ano;
                        </li>

                        <li>
                            <img src="/assets/icons/check-small.png" alt="Sinal de confere" width="24" height="24">
                            Crie uma conta com até 8 pessoas.
                        </li>
                    </ul>

                    <a href="/pagamento-assinatura">Assinar plano</a>

                    <span>Pague menos!</span>
                </div>
            </div>
        </section>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>